<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-3 col-md-6">
        <div class="mform">
          <%= cl_image_tag current_user.photo, height: 100, width: 100, crop: :fill, class: "avatar-form" %>

          <h2>Edit <%= resource_name.to_s.humanize %></h2>
          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
            <% end %>
            <%= f.input :first_name, required: true, autofocus: true, autocomplete: "on", label: "Prénom :" %>
            <%= f.input :last_name, required: true, autofocus: true, autocomplete: "on", label: "Nom :" %>
            <%= f.input :address, required: true, autofocus: true, autocomplete: "on", label: "Addresse :" %>
            <%= f.input :password, autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false, label: "Mot de passe :" %>
            <%= f.input :password_confirmation, required: false, label: "Confirmer le mot de passe :" %>
            <%= f.input :current_password, hint: "we need your current password to confirm your changes", required: true, label: "Mot de passe actuel :"  %>
            <%= f.input :photo %>
            <%= f.input :photo_cache, as: :hidden %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Mettre à jour", class: "main-button"%>
            <% end %>

            <%= link_to "Supprimer mon compte", registration_path(resource_name), class: "btn btn-default main-button-red", data: { confirm: "Are you sure?" }, method: :delete %>
          </div>

        </div>
      </div>
    </div>
  </div>

