<div class="minouboard-navbar">
  <%= link_to "Mes Minous", minouboard_path, :class => current_class?(minouboard_path) %>
  <%= link_to "Mes emprunts", emprunts_path, :class => current_class?(emprunts_path) %>
  <%= link_to "Historique", historique_path, :class => current_class?(historique_path) %>
</div>

<div class="wrapper">
  <div class="container">

      <h4>Mon solde : <span class="sold"> <%= @sold %> </span> <%= image_tag "logo.png", height: 45, id: "minou_coin_logo" %> </h4>
      <!-- Boucle sur les rentals du user -->
      <ul class="inbox">
        <% @rentals.each do |rental| %>
        <% if rental.end_date < Date.today%>
          <li class="message">
            <div class="avatar-box">
              <%= image_tag rental.minou.photo, height: 120, width: 120, crop: :center, class: "big-avatar" %>
              <%= image_tag rental.user.photo, height: 50, width: 50, crop: :center, class: "small-avatar" %>
            </div>

            <div class="message-details">
              <h1 id="specie"> <%= rental.minou.specie %> </h1>
              <h1 id="name"> <%= rental.minou.name %> </h1>
              <h2> <i class="far fa-calendar-alt"></i> <%= rental.begin_date.strftime("%e %b") %> <i class="fas fa-arrow-right"></i> <%= rental.end_date.strftime("%e %b") %> </h2>
              <p> <%= (rental.end_date - rental.begin_date).to_i %> jours</p>
            </div>
            <div class="message-content">
              <p> L'un des meilleurs minous que j'ai connu, doux, attentionné, le poil soyeux, à reprendre de toute urgence même s'il peut être parfois irritable. </p>
            </div>
            <div class="message-status">
              <h2 id="minou-coin"> + <%= rental.rental_price %> </h2>
              <h2>MinouCoins <%= image_tag "logo.png", height: 25 %> </h2>
            </div>
          </li>
        <% end %>
        <% end %>

      </ul>

  </div>
</div>
