<%= simple_form_for(@minou) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :size, collection: Minou::SIZES %>
    <%= f.input :specie, collection: Minou::SPECIES %>
    <%= f.input :age %>
    <%= f.input :personality, collection: Minou::PERSONALITIES %>
    <%= f.input :description %>
    <%= f.input :daily_price %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
