
<!-- <div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
></div>
 -->
<div class="wrapper">
  <div class="container">
  <h1 class= "container_titles">Mes minous</h1>
    <div class="row">
      <% @minous.each do |minou| %>
        <%= link_to minou_path(minou) do %>
          <div class="col-12 col-sm-6 col-md-4">
            <div class="card">
              <% if minou.photo? %>
                <div class="card_body" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0)), url('<%= cl_image_path minou.photo, height: 400, width: 400, crop: :fill %>')">
                  <h1 class="card_title"><%= minou.name %></h1>
                </div>
                <% else %>
                <div class="card_body" style='background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0)), url("https://source.unsplash.com/400x400/?kitten,<%=minou.name%>");'>
                  <h1 class="card_title"><%= minou.name %></h1>
                </div>
              <% end %>
              <div class="card_content">
                <p id="specie"><%= minou.specie %></p>
                <p id="personality"><%= minou.personality %></p>
                <p id="price"><%= minou.daily_price %> Kitokens par jour</p>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="row">
      <div class="button" >
        <%= link_to 'Ajoute un minou', new_minou_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
  <div id="mappy" style="position: relative; overflow:hidden">
    <div
      id="map"
      style="height: 100%; width: 100%; position: absolute; top: 0px; left: 0px; background-color: rgb(229, 227, 223);"
      data-markers="<%= @markers.to_json %>"
    ></div>
  </div>
</div>

