<p id="notice"><%= notice %></p>

<h1>Minous</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Size</th>
      <th>Specie</th>
      <th>Personality</th>
      <th>Age</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @minous.each do |minou| %>
      <tr>
        <td><%= minou.name %></td>
        <td><%= minou.size %></td>
        <td><%= minou.specie %></td>
        <td><%= minou.personality %></td>
        <td><%= minou.age %></td>
        <td><%= link_to 'Show', minou %></td>
        <td><%= link_to 'Edit', edit_minou_path(minou) %></td>
      </tr>
    <% end %>
  </tbody>

</table>

<br>

<%= link_to 'New minou', new_minou_path %>
