
<div class="wrapper">
  <div class="container">
    <div class="photo" style='background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.3)), url("https://source.unsplash.com/400x400/?kitten,<%=@minou.name%>");'>
    </div>
    <div class="minou-content">
      <div class="minou-infos">
        <h1>Specie</h1>
        <h2>Nom du chat</h2>

        <h3>Caractère</h3>

        <br>

        <h1>Description</h1>

        <br>

        <h1>Anciennes locations</h1>

      </div>
      <div class="minou-form">
        <h1>Minou form</h1>
      </div>
    </div>
  </div>
</div>



<% if @minou.photo? %>
<%= cl_image_tag @minou.photo, height: 400, width: 400, crop: :fill %>
<% end %>



<h1><%= @minou.name %></h1>

<ul>
  <li> Espèce : <%= @minou.specie %> </li>
  <li> Personnalité : <%= @minou.personality %> </li>
</ul>
<%= link_to "Retour à la liste de minous", minous_path %>

<br>

<!-- Affichage des locations du minou -->
<h1>Locations du minous</h1>
<% @rentals.each do |rental| %>
<ul>
  <li> Début : <%= rental.begin_date %> | Fin : <%= rental.end_date %> | Price : <%= rental.rental_price %>
  </li>
</ul>
<% end %>

<br>

<!-- Formulaire de location -->
<h1>Formulaire de location</h1>

<%= simple_form_for [@minou, @rental] do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :begin_date %>
    <%= f.input :end_date %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>


