
<div class="mwrapper">
  <div class="mcontainer">
    <div class="photo">
      <%= cl_image_tag @minou.photo, height: 400, width: 900, crop: :fill %>
    </div>
    <div class="minou-content">
      <div class="minou-infos">
        <h1 id="specie"> <%= @minou.specie %> </h1>
        <h1 id="name"> <%= @minou.name %> </h1>
        <h1 id="price"> <%= @minou.daily_price %> MinouCoins <%= image_tag "logo.png", height: 18 %> par jour</h1>

        <hr color="purple" align="left" width="120%" size="6">

        <h5><i class="fas fa-book"></i> Description </h5>
          <p><%= @minou.description %></p>
          <%= link_to "Retour à la liste de minous", minous_path %> <br>
          <%= link_to "Editer mon minou", edit_minou_path(@minou) %>
        <hr>
      </div>

      <div class="minou-form">
        <!-- current_user.photo a changer  -->
        <%= cl_image_tag current_user.photo, height: 100, width: 100, crop: :fill, class: "avatar-form" %>
        <%= simple_form_for [@minou, @rental] do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <%= f.input :begin_date %>
            <%= f.input :end_date %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>

    </div>
  </div>
</div>





