<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>TODO</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application' %> <!-- Import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <% if current_page?(controller: 'pages', action: 'essai') %>
    <%= render "shared/transparent_navbar" %>
    <% else %>
    <%= render "shared/navbar" %>
    <% end %>
    <%= render 'shared/flashes' %>
    <div class="page-content-margin-navbar">
      <%= yield %>
    </div>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?libraries=places&key=#{ENV['GOOGLE_API_BROWSER_KEY']}" %>
    <%= javascript_pack_tag 'application' %>
    <%= javascript_pack_tag "map" %>
    <%= javascript_pack_tag 'application' %> <!-- Importe les plugin js de app/javascript/packs/application.js -->

  </body>
</html>
